header {
    background-color: #1a1f2b;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #ff0;
    background-color: #333;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #0e1220;
}

main {
    padding-top: 70px;
}

main-2 {
    padding-top: 70px;
}

/* start , box for searching player stats */

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1a1f2b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
}

.form-input:focus {
    outline: none;
    border-color: #00aeff;
}

.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
}

.form-select:focus {
    outline: none;
    border-color: #00aeff;
}

.form-button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #555;
}

/* END , box for searching player stats */

footer {
    background-color: #1a1f2b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
