.settings-box {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1a1f2b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.settings-box h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 20px;
}

.change-password-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.password-change-container {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: hsl(222, 25%, 14%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-change-container h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.password-change-container label {
    display: block;
    margin-bottom: 10px;
}

.password-change-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0e1220;
    border-radius: 5px;
}

.password-change-container .save-changes-btn,
.password-change-container .cancel-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.password-change-container .cancel-btn {
    background-color: #f44336;
}


